In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("device_data.csv")

In [4]:
data

,id,date,h_humidity,h_temperature,a_humidity,a_temperature,a_voc,w_temperature,w_alarm
0,21,2024-03-06 14:11:15.152734+00:00,51.0,22.9,51.4,22.5,360,20.7,False
1,44,2024-03-06 14:20:28.379261+00:00,51.0,22.9,50.7,22.5,358,20.6,False
2,64,2024-03-06 14:43:20.163805+00:00,50.0,22.9,50.5,22.5,360,20.6,False
3,83,2024-03-06 15:11:18.298787+00:00,50.0,22.8,50.4,22.4,342,20.5,False
4,106,2024-03-06 15:28:34.984530+00:00,50.0,22.7,50.6,22.4,343,20.4,False
...,...,...,...,...,...,...,...,...,...
1166,24039,2024-03-26 13:44:50.467310+00:00,53.0,22.0,52.5,21.4,433,20.4,False
1167,24061,2024-03-26 13:55:51.997424+00:00,53.0,22.0,53.1,21.3,542,20.4,False
1168,24080,2024-03-26 14:20:43.258056+00:00,49.0,22.2,50.0,21.5,362,19.2,True
1169,24103,1970-01-07 19:58:20.793799+00:00,49.0,22.2,49.9,19.8,381,24.2,False
1170,24132,1970-01-01 00:31:24.538925+00:00,49.0,22.2,49.9,22.1,381,25.0,False

In [5]:
data.info

<bound method DataFrame.info of          id                               date   h_humidity   h_temperature  \
0        21   2024-03-06 14:11:15.152734+00:00         51.0            22.9
1        44   2024-03-06 14:20:28.379261+00:00         51.0            22.9
2        64   2024-03-06 14:43:20.163805+00:00         50.0            22.9
3        83   2024-03-06 15:11:18.298787+00:00         50.0            22.8
4       106   2024-03-06 15:28:34.984530+00:00         50.0            22.7
...     ...                                ...          ...             ...
1166  24039   2024-03-26 13:44:50.467310+00:00         53.0            22.0
1167  24061   2024-03-26 13:55:51.997424+00:00         53.0            22.0
1168  24080   2024-03-26 14:20:43.258056+00:00         49.0            22.2
1169  24103   1970-01-07 19:58:20.793799+00:00         49.0            22.2
1170  24132   1970-01-01 00:31:24.538925+00:00         49.0            22.2

      a_humidity   a_temperature  a_voc   w_temperature  w_alarm
0           51.4            22.5    360            20.7    False
1           50.7            22.5    358            20.6    False
2           50.5            22.5    360            20.6    False
3           50.4            22.4    342            20.5    False
4           50.6            22.4    343            20.4    False
...          ...             ...    ...             ...      ...
1166        52.5            21.4    433            20.4    False
1167        53.1            21.3    542            20.4    False
1168        50.0            21.5    362            19.2     True
1169        49.9            19.8    381            24.2    False
1170        49.9            22.1    381            25.0    False

[1171 rows x 9 columns]>